button {
    background-color: red;
    color: #fff;
    padding-left: 12%;
    padding-right: 12%;
    padding-top: 2%;
    padding-bottom: 2%;
    border: none;
    border-radius: 3.125rem;
    cursor: pointer;
    font-weight: bold;  
    position: center;
}   
    body {
        font-family: 'Roboto', sans-serif;
        height: 100%;
    }

    .derecha {
        float: left;
        width: 50%;
        
    }

    input {
        border-radius: 8px;
        height: 40px;
    }

    select{
        border-radius: 8px; 
        height: 40px;
        width: 20%;
    }

    .checkbox {
        height: 25px;
        width: 25px;
    }
    
    a {
        color: green;
        text-decoration: none;
        font-family: 'Roboto', sans-serif;
    
    }

    .izquierda{
        float: left;
        width: 50%;
    }
      
    .imagen_izquierda{
        width: 100%;
        height: 100%;
    }

    #principal{
        display: flex;
        height: 100%;
    }

    .formulario{
        width: 75%;
        padding-left: 10%;
    }

    #usuario{
        width: 70%;
    }

    #contrasena{
        width: 90%;
    }
    
    .boton{
        text-align: center;
    }

    .noacceso{
        text-align: center;
    }

    .enlaces{
        width: 100%;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .enlaces a{
        padding-left: 10px;
    }

    .pie{
        background-color: red;
        padding-top: 20px;
        padding-bottom: 20px;

    }

    .texto{
        padding-left: 72%;
        color: white;
        font-size: x-small;
    }

    .pagina{
        height: 80%;
        position: absolute;
        width: 100%;
    }

     @media screen and (max-width:630px) {

        body {
            background-color: rgb(255, 255, 255);
        }
    body {
        font-family: 'Roboto', sans-serif;
        height: 100%;
    }

    .derecha {
        float: left;
        width: 70%;
        
    }

    .checkbox {
        height: 25px;
        width: 25px;
    }
    .izquierda{
        display: none;

    }

     .formulario{
        width: 75%;
        padding-left: 40%;
    }

    .boton{
        text-align: center;
    }

    .noacceso{
        text-align: center;
        width: 110%;
    }

    .enlaces{
        width:120%;
        padding-top: 40px;
        padding-bottom: 20px;

    }

    .enlaces a{
        padding-left: 50px;
    }

    .pie{
        background-color: red;
        padding-top: 20px;
        padding-bottom: 20px;

    }

    .texto{
        padding-left: 30%;
        color: white;
        font-size: small;
    }

    .pagina{
        height: 76%;
        position: absolute;
        width: 100%;
    }